.sidebar{
    background-color: #008cffe3;
    gap: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#container{
    display: flex;
}

.content{
    display: flex;
    text-align: center;
    flex: 1;


}
img {
    height: 20px;
    margin: 0;
    background-color: grey;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F9FAF8;
    padding: 20px;
}
.tophead{
    display: flex;
    flex: 1;
    gap: 20px;
}
.sidename{
    display: flex;
    justify-content: space-between;

}
.lowhead{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidelinks{
    padding: 20px;
    gap: 30px; 
    display: flex; 

    
}

button{
    flex: 1;
    background-color: #0071ff;
    border-radius: 20px;
    padding: 10px;
    width: 100px
    
}
.project{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: 400px 400px 400px;
    gap: 30px;
    resize:both;


}
.proj{
    border-left: 10px solid darkorange;
    border-radius: 10px;
    background-color: lightyellow;
    padding: 20px;

}
.bodycontent{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding: 20px;
    min-height: 100vh;
    flex: 1;


}
.anncont{
    background-color: lightyellow;
    padding: 20px;
    border-radius: 10px;
}

.trend{
    background-color: lightyellow;
    padding: 20px;
    border-radius: 10px;
}
.anntrend{
    display: grid;
    grid-template-columns: 200px;
    gap: 155px;

}
